/* .wrapper {
  max-width: 1000px;
  margin: 0 auto;
} */
header {
  background: green;
  width: 1192px;
  height: 100px;
  font-size: 60px;
}
/* .container {
  display: flex;
} */
.main {
  background: rgb(202, 255, 202);
  position: absolute;
  width: 800px;
  height: 450px;
}
#imageArea{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
#button0{
  position: absolute;
  width: 300px;
  height: 110px;
  top: 170px;
  left: 250px;
  z-index: 3;
}
#button1{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 385px;
  z-index: 2;
}
#button2{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 210px;
  left: 610px;
  z-index: 2;
}
#button3{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 415px;
  left: 385px;
  z-index: 2;
}
#button4{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 210px;
  left: 150px;
  z-index: 2;
}
.side {
  background: rgb(159, 218, 254);
  position: absolute;
  width: 400px;
  left: 800px;
  height: 410px;
  font-size: 30px;
  text-align:center;
  padding:20px 0;
}


/* @media (max-width: 600px){
  .container {
    flex-direction: column;
  }
  .main,
  .side {
    width: 100%;
  }
}  */
